<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".PartyRunApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="false"
        android:icon="@mipmap/ic_partyrun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_partyrun_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PartyRunApplication"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PartyRunApplication.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PartyRunApplication"
            android:launchMode="singleTop">
        </activity>
        <service
            android:name=".feature.running.service.BaseRunningService"
            android:foregroundServiceType="location" />
        <service
            android:name=".feature.running.service.BattleRunningService"
            android:foregroundServiceType="location" />
        <service
            android:name=".feature.running.service.SingleRunningService"
            android:foregroundServiceType="location" />
    </application>

</manifest>