<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:usesCleartextTraffic="false">
        <service
            android:name=".service.BaseRunningService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".service.BattleRunningService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".service.SingleRunningService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>
</manifest>
